@import "colors";

@media screen and (max-width: 1024px) {
  .home {
    > main {
      > h1 {
        font-size: 5rem;
      }
      > p {
        font-size: 1.5rem;
      }
    }
  }
  .contact {
    > main {
      width: 100%;
      border-radius: 0;
      text-align: center;
      height: unset;
      border-radius: 40px;
    }
  }

  #doubts {
    > div {
      width: 90%;
      > article {
        > div {
          height: 10rem;
          width: 10rem;
        }
      }
    }
  }
  .contact {
    > main {
      border-radius: 8rem;
    }
  }
}

@media screen and (max-width: 768px) {
  nav {
    > h1 {
      display: none;
    }
    > main {
      width: 100%;
      justify-content: center;
      a {
        margin: 0.5rem;
      }
    }
  }

  .home {
    align-items: center;
    > main {
      h1 {
        font-size: 4rem;
      }
    }
  }

  .home2 {
    height: 150vh;
    margin-top: 0px;
    flex-direction: column;
    img {
      width: 80%;
    }
    > div {
      width: 100%;
      margin-bottom: 4rem;
    }
  }

  .home3 {
    > div {
      text-align: center;
      width: 100%;
      height: 120vh;
      border-radius: 0;
      > p {
        padding: 3rem 2rem;
        font-size: 0.9rem;
        font-weight: 500;
      }
    }
  }

  .home4 {
    height: unset;
    align-items: center;
    > div {
      width: 100%;
      height: unset;
      > article {
        flex-direction: column;
        > div {
          height: 10rem;
          width: 10rem;
        }
      }
    }
  }

  .contact {
    > main {
      padding: 0.8rem;
      > h1 {
        margin: 0.8rem;
      }
      > form {
        margin: 0%;
        > div {
          width: 100%;
        }
      }
    }
  }

  footer {
    height: 50vh;
    display: flex;
    flex-direction: column;
    padding: 5rem;
    > div {
      align-items: center;
      margin-bottom: 1.5rem;
    }
  }
}

@media screen and (max-width: 426px) {
  .home {
    > main {
      h1 {
        font-size: 2.3rem;
      }
      p {
        font-size: 0.8rem;
      }
    }
    &::before {
      border-radius: 40px;
      background-position: -100px 0px;
      filter: blur(1px);
    }
  }

  .home2 {
    img {
      width: 100%;
    }
    >div{
      >p{
        font-weight: 700;
        font-family: roboto;
      }
    }
  }

  .contact {
    > main {
      border-radius: 0;
    }
  }

  .home3 {
    margin-top: 0;
    height: 160vh;
    > div {
      justify-content: start;
      height: 160vh;
      > p {
        font-weight: 700;
        font-family: roboto;
      }
    }
  }

  .home4 {
    > div {
      width: 100% !important;
      border-radius: 200px;
    }
  }
}
